.DS_Store
**/.DS_Store
node_modules/
app/node_modules/
dist/
app/dist/
coverage/
app/coverage/
test-results/
app/test-results/
playwright-report/
app/playwright-report/
*.tsbuildinfo
app/*.config.js
app/*.config.d.ts
*.log
.vite/
